# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Coveralls
coverage

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Heroku Env
.env

# Configuration File (env might be used instead as well)
config.json